# Framework da API
fastapi
uvicorn[standard]

# Google GenAI (Se for usar LangChain)
langchain-core
langchain-google-genai

# Banco de Dados e ORM
sqlalchemy
pydantic

# Banco de Dados Vetorial (Versão Fixa para garantir o método 'search_points')
qdrant-client==1.9.0

# Ferramentas de Processamento de Dados
requests
tqdm

# Utilidades Python
typing-extensions
python-dotenv